<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}It's u again!{% endblock %}</title>
    </head>
        <body style="color: white;">
                https://vk.com/girlsandpets <br>
                Пусть бегут неуклюже пешеходы по лужам
                И вода по асфальту рекой
                Ведь неясно прохожим в тот день непогожий
                Отчего я веселый такой
        </body>
</html>