<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>It's u again!</title>
</head>
<body style="color: white;">
    https://vk.com/girlsandpets <br>
    Пусть бегут неуклюже пешеходы по лужам <br>
    И вода по асфальту рекой <br>
    Ведь неясно прохожим в тот день непогожий <br>
    Отчего я веселый такой <br>
</body>
</html>